{% include 'partials/header.html' %}

<h1>Are you sure you want to delete this?</h1>
<form action="/todoapp/delete/{{todo.id}}/" method="POST">
{% csrf_token %}
    <label for="title">Title</label><br/>
    <input type ="text" name="title" id="title" value="{{todo.title}}"/>
    <br>
    <label for="text">Text</label><br/>
    <textarea name="text" id="text">{{todo.text}}</textarea>
    <br>
    <br>
    <input type="submit" value="Submit"/>
</form>

<a href="/">Go Back</a>

{% include 'partials/footer.html' %}