{% include 'partials/header.html' %}

<div class="container-fluid">

    <form action="/todoapp/delete/{{todo.id}}/" method="POST">
    {% csrf_token %}
        <br>
        <h4>Are you sure you want to delete this?</h4>
        <input type="submit" value="DELETE"/>
        <br>
        <br>
        <h4 class="details-view title-input">{{todo.title}}</h4>
        <p class="details-view details-input">{{todo.text}}</p>
        
        <p class="timestamp">Originally created on {{todo.created_at}}</p>

        <a class="nav-item nav-link button cxl-button" href="/">Cancel</a>
    </form>

</div>

{% include 'partials/footer.html' %}