{% include 'partials/header.html' %}

    <h1>{{todo.title}}</h1>
    <div class="container-fluid">
        <p>{{todo.text}}</p>
    </div>
    <br>

    Created on {{todo.created_at}}

    <hr>
    <button type="button" class="btn">
        <a href="/todoapp/edit/{{todo.id}}">Edit</a>
    </button>
    <button type="button" class="btn">
        <a href="/todoapp/delete/{{todo.id}}">Delete</a>
    </button>

    <br>
    <a href="/todoapp"> << Back to main list</a>
{% include 'partials/footer.html' %}