{% include 'partials/header.html' %}

<nav class="nav justify-content-center">
        <h6>Detail View</h6>
</nav>

<div class="container-fluid wrapper">

    <form>
        <label for="title">Title</label>
        <br/>
        <h4 class="details-view title-input">{{todo.title}}</h4>
        <br>
        <label for="text">Details</label>
        <br>
        <p class="details-view details-input">{{todo.text}}</p>
        
        <p class="timestamp">Originally created on {{todo.created_at}}</p>
    </form>

    <hr>
        <div class="nav justify-content-center">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link button edit-button" href="/todoapp/edit/{{todo.id}}">EDIT</a>
                <a class="nav-item nav-link button delete-button" href="/todoapp/delete/{{todo.id}}">DEL</a>
            </nav>
        </div>
    <br>
    <a href="/todoapp"> << Back to List View</a>

</div>

{% include 'partials/footer.html' %}