{% include 'partials/header.html' %}

<nav class="nav justify-content-center">
    <h6>Edit View</h6>
</nav>

<div class="container-fluid wrapper">

    <form action="/todoapp/edit/{{todo.id}}/" method="POST">
    {% csrf_token %}
        <label for="title">Title</label>
        <br/>
        <input type ="text" name="title" id="title" value="{{todo.title}}" class="title-input"/>
        <br>
        <label for="text">Description</label>
        <br/>
        <textarea name="text" id="text" class="details-input">{{todo.text}}</textarea>        
        <br>
        <p class="timestamp">Originally created on {{todo.created_at}}</p>
        <br>
        <input type="submit" value="Submit"/>
        <br>
        <br>
        <a class="nav-item nav-link button cxl-button" href="/">Cancel</a>
    </form>

</div>

{% include 'partials/footer.html' %}