{% include 'partials/header.html' %}

<nav class="nav justify-content-center">
    <h6>List View</h6>
</nav>

<div class="container-fluid wrapper">
  
    <ul class="list-group">
        {% for todo in todoapp %}
            <li class="list-group-item"><a href="/todoapp/details/{{todo.id}}">{{todo.title}}</a></li>
        {% endfor %}
    </ul>
    <br>

    <div class="nav justify-content-center">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link button add-button" href="/todoapp/add">ADD</a>
        </nav>
    </div>
</div>




{% include 'partials/footer.html' %}