body {
    background-color: rgba(67, 110, 134, 0.459);
}

h1 {
    font-size: 3em;
    text-align: center;
  }

a {
    color: rgba(66, 0, 10, 0.719);
}

.timestamp {
    text-align: right;
    font-size: .7em; 
}

/***************** LIST VIEW *****************/
.list-group-item {
    margin: 2px 0;
    border-radius: 4px; 
}

.button {
    font: 1em Arial;
    color: #ffffff;
    height: 40px;
    border-radius: 2%; 
    text-align: center; 
}

.add-button {
    background-color: rgba(14, 119, 0, 0.678);
}

/***************** DETAILS VIEW *****************/

.details-view {
    background-color: white;
}

p.details-view {
    min-height: 100px;
}

.edit-button {
    background-color: rgba(0, 96, 175, 0.678);
    margin: 0 5px; 
}

.delete-button {
    background-color: rgba(151, 9, 9, 0.678);
    margin: 0 5px;
}

/***************** ADD VIEW *****************/

.cxl-button {
    background-color: rgba(151, 9, 9, 0.678);   
}

.title-input {
    background-color: #fffd7010;
    width: 100%;
    border-radius: 5px;
}

.details-input {
    background-color: #fffd7010;
    width: 100%;
    border-radius: 5px;
}

/***************** EDIT VIEW *****************/

textarea {
    display:inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 {
        font-size: 3.2em;
      }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 3.6rem;
      }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 3.8rem;
      }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    h1 {
        font-size: 4.1rem;
      }
 }